<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">

  <groups>
	<run>
		<include name="ErrorValidations"/>
		<include name="Product"/>
	</run>
  </groups>
	
  <listeners>
  	<listener class-name="_10Store.testComponents.ReportListeners"/>
  </listeners>
  
  <test thread-count="5" name="Starttest">
	  <classes>
	  	<class name="_10Store.testComponents.VerifySetup"/>
	  </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="EndToEnd">
	  <classes>
	  	<class name="_10Store.testComponents.EndRun"/>
	  </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="ErrorValidations">
	  <classes>
	  	<class name="_10Store.testComponents.ValidatingErrors"/>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
